.header {
  width: 100%;

  border-bottom: 1px solid rgba(84, 84, 84, .7);
  padding-bottom: 36px;
}

@media screen and (max-width: 690px) {
  .header {
    width: 100vw;
    padding-bottom: 27px;
    padding-left: 27px;
    margin-left: -20px;
    box-sizing: border-box;
  }
}