.profile__add-button {
  width: 150px;
  height: 50px;

  background-color: #000;
  background-image: url(../../../images/add-button.svg);

  background-repeat: no-repeat;
  background-size: cover;

  box-shadow: none;
  border: none;
  padding: 0;

  margin-left: auto;
}

.profile__add-button:hover {
  opacity: .6;
}