.popup__close-button {
  width: 32px;
  height: 32px;

  background-image: url(../../../images/Close\ Icon.svg);
  background-size: cover;
  background-repeat: no-repeat;

  position: absolute;
  top: -40px;
  right: -39px;
}